

.dark-theme {
  --bg-primary: #2e2e2e;
  --bg-secondary: #272626;
  --color-primary: #fff;
  --color-secondary: #dfdfdf;
  --card-shadow: hsl(0, 0%, 0%);
  --input-bg: hsl(0, 0%, 16%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
  --social-icon-color:#1b1bbb;
  --social-icon-background:#fbfbfb;
  --btn-hire: hsl(24, 72%, 50%);
  --white:hsl(0, 0%, 100%);
  --raw-seinna: hsl(24, 74%, 58%);
  --input-bg: hsl(0, 0%, 16%);
}
.light-theme{
  --btn-hire: hsl(24, 74%, 58%);
  --input-bg: hsl(0, 0%, 93%);
  --bg-secondary: #fff;
  --bg-primary: #dfdfdf;
  --color-primary: #1f1f1f;
  --color-secondary: #303030;
  --card-shadow: hsl(0, 16%, 94%);
  --input-bg: hsl(0, 0%, 93%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
  --social-icon-color:#1c34cf;
  --social-icon-background:rgba(0, 0, 0, 0.15);
  --white:hsl(0, 0%, 100%);
  --raw-seinna: hsl(24, 74%, 58%);
}