/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* #020202   */


.dark-theme {
  --bg-primary: hsl(0, 0%, 12%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsl(0, 0%, 0%);
  --input-bg: hsl(0, 0%, 16%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
  --social-icon-color:#1b1bbb;
  --social-icon-background:#fbfbfb;
  --btn-hire: hsl(24, 72%, 50%);
  --white:hsl(0, 0%, 100%);
  --raw-seinna: hsl(24, 74%, 58%);
  --input-bg: hsl(0, 0%, 16%);
}
.light-theme{
  --btn-hire: hsl(24, 74%, 58%);
  --input-bg: hsl(0, 0%, 93%);
  --bg-primary: hsl(0, 0%, 90%);
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 12%);
  --color-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsl(0, 16%, 94%);
  --input-bg: hsl(0, 0%, 93%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
  --social-icon-color:#1c34cf;
  --social-icon-background:rgba(0, 0, 0, 0.15);
  --white:hsl(0, 0%, 100%);
  --raw-seinna: hsl(24, 74%, 58%);
}